* {
  margin: 0;
  padding: 0;
}

button {
  background-color: #0000ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 8rem;
}

.list {
  display: flex;
  position: relative;
  left: -1.5rem;
  gap: 3rem;
}

.list-item {
  color: #add8e6;
  list-style: none;
  font-size: 25px;
}

.list-item:first-child {
  color: #000000;
  font-weight: bold;
}

.heading-text {
  margin-left: 100px;
  margin-top: 80px;
  width: 600px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 70px;
  line-height: 1.2em;
  height: 3em;
}

.heading-text span {
  color: #0000ff;
}

.description {
  color: hsl(195, 92%, 48%);
  font-size: 20px;
  margin-top: 70px;
  margin-left: 100px;
  width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.nav-button.btn {
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 40px;
}

.banner-container img {
  position: fixed;
  bottom: -50px;
  right: -90px;
  width: 60%;
  height: 85%;
}
